@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

.aboutinfo{
    padding: 0px 10px;
    margin:  50px auto;
    font-size: 18px;
    text-align: justify;
}
.aboutinfo h1{
   color: rgb(53, 158, 219);
   margin: 20px;
   display: flex;
   justify-content: center;
}

.aboutinfo p{
    font-family: 'Exo 2', sans-serif;
}

