.tcontainer {
    margin-top: 4px;
    width: 100%;
    overflow: hidden; /* Hide scroll bar */
  }
   
  /* MIDDLE CONTAINER */
  .ticker-wrap {
    width: 100%;
    padding-left: 100%; /* Push contents to right side of screen */
    background-color: rgb(252, 255, 60);
  }
  
  /* INNER CONTAINER */
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-200%, 0, 0); }
  }
  .ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation: ticker 15s linear 2s infinite ;
    
  }
  .ticker-move:hover{
    animation-play-state: paused; /* Pause scroll on mouse hover */
  }
  
  /* ITEMS */
  .ticker-item {
    display: inline-block; /* Lay items in a horizontal line */
    padding: 4px 2px;
   
    margin-right: 50px;
  }
  .ticker-item a{
    color: #000;
    text-decoration: none;
  }